.screen {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  margin: 15px 5px 5px 5px;
  width: 90%;
  height: 35%;
  background-color: rgb(165, 198, 165);
  border-radius: 25px;
  box-shadow: inset 1px 1px 15px rgba(0,0,0,0.9);
  padding-bottom: 10px;
}

.status {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70%;
}

.current {
  min-width: 100%;
  max-width: 100%;  
  background-color: rgba(0,0,0,0.1);
  border-radius: 5px;
  height: 30px;
  padding: 5px;
  border: 1px solid rgba(0,0,0,0.8);
  font-size: 22px;
}

.input {
  height: 30px;
  min-width: 100%;
  max-width: 100%; 
  border-radius: 5px;
  border: none;
  padding: 5px; 
  font-size: 24px;
  text-align: center;
  background-color: transparent;
}

input[type='text']{
  text-align: center;
}

.inputWrapper {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.suggestions {
  min-width: 95%;
  max-width: 95%;  
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  color: black;
  flex-wrap: wrap;
  overflow-y: scroll;
  font-size: 18px;
  margin: 5px 5px 10px 5px;
}

.suggestion {
  padding: 0 5px 0 5px;
  height: auto;
}

.suggestionOn {
  padding: 0 5px 0 5px;
  height: auto;
  background-color: rgba(230, 232, 183, 0.7)
}